.header-container{
  height: calc(100vh - 224px);
  position: relative;
  padding: 0 0 100px 0;
.logo{
  position: absolute;
  top: 0;
}
.header-container__image{
  position: relative;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  img{
    height: 100%;
    width: auto;
  }
  svg{
    width: calc(100% - 200px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px;
    animation: netflix 3s;
    animation-fill-mode: forwards;
  }
  @keyframes netflix {
    0%{opacity: 0; width: 100%;}
    100%{opacity: 1; width: calc(100% - 200px);}

  }
}
  .header-menu{
    position: absolute;
    left: 0;
    top: 100px;

    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color: #626262;
    font-weight: 600;
    text-transform: uppercase;
    
    li {
      margin: 10px 0;
    }
  }

  h1 {
    font-size: 20vw;
    text-align: center;
    color: #464646;
    font-family: 'Angel Rhapsody', sans-serif;
    font-weight: 400;
   
   
  }
}
.lineParent{
  overflow: hidden;
  .lineChildren{
    transform: translate(0, 500px);
  }
}