.footer {
  text-align: center;
  padding-bottom: 200px;
  .opening {
    font-size: 26vh;
    line-height: 1.1;
    font-family: "Angel Rhapsody", serif;

    opacity: 0;
    &.is-reveal {
      opacity: 1;
    }
  }
}
